#header{
    margin-top: 250px;
    font-size: large;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;

}
#sides{
    margin:0;
    }
    #left{
    float:left;
    width:75%;
    overflow:hidden;
    }
    #right{
    float:left;
    width:25%;
    overflow:hidden;
    } 

#input{
    text-align: center;
    text-decoration: grey;
}

#button {
    color: darkblue;
    text-emphasis-color: white;
}